<mat-card>
    <h1 style="margin-left: 20px;margin-top: 20px;">Add New Category</h1>
    <mat-card-content>
        <div class="bootstrap-wrapper">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <form (ngSubmit)="submitCategory()">
                        <mat-form-field class="w100" appearance="outline">
                            <mat-label>Title</mat-label>
                            <input type="text" name="title" matInput placeholder="Enter Title Here"
                            [(ngModel)]="category.title" required/>
                        </mat-form-field>
                        <mat-form-field class="w100" appearance="outline">
                            <mat-label>Description</mat-label>
                            <textarea  name="description" matInput rows="7" placeholder="Enter Description Here"
                            [(ngModel)]="category.description"></textarea>
                        </mat-form-field>
                        <div class="container text-center" style="margin-top: 5px;margin-bottom: 10px;">
                            <button mat-fab extended color="accent">Add</button>
                          </div>
                    </form>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>