<mat-card>
    <h1 class="ml mt">Update Quiz</h1>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <form (ngSubmit)="updateData()">
                <mat-form-field appearance="fill" class="full-width">
                    <mat-label>Enter Title</mat-label>
                    <input [(ngModel)]="quiz.title" name="title" type="text" matInput placeholder="Enter Here" required>
                  </mat-form-field>
                  <mat-form-field appearance="fill" class="full-width">
                    <mat-label>Enter Description</mat-label>
                    <textarea [(ngModel)]="quiz.description" name="description" type="text" matInput placeholder="Enter Here" rows="8" ></textarea>
                  </mat-form-field>

                  <div class="row">
                  <div class="col-md-6">
                    <mat-form-field appearance="fill" class="full-width">
                        <mat-label>Enter Max Marks</mat-label>
                        <input [(ngModel)]="quiz.maxMarks" name="maxMarks" type="text" matInput placeholder="Enter Here" required>
                      </mat-form-field>
                      
                  </div>
                  <div class="col-md-6">
                    <mat-form-field appearance="fill" class="full-width">
                        <mat-label>Enter Number Of Questions</mat-label>
                        <input [(ngModel)]="quiz.numberOfQuestions" name="numberOfQuestions" type="text" matInput placeholder="Enter Here" required>
                      </mat-form-field>
                  </div>
                </div>
                <section style="margin-bottom: 30px;">
                    <mat-slide-toggle [(ngModel)]="quiz.active" name="active" [checked]="false"> Publish Status</mat-slide-toggle>
                </section>

                <mat-form-field appearance="fill" class="full-width">
                    <mat-label>Select Category</mat-label>
                    <mat-select  name="category" [(ngModel)]="quiz.category.cid">
                      @for (c of categories; track c) {
                        <mat-option [value]="c.cid">{{c.title}}</mat-option>
                      }
                    </mat-select>
                  </mat-form-field>
                  <div class="container text-center mb">
                    <button type="submit" mat-fab extended color="accent">Update</button>
                  </div>
            </form>
        </div>
    </div>
</mat-card>
