.profile-img{
    max-width: 150px;
    max-height: 350px;
    
   
}
.table {
    width: 100%;
    
  }
.table tr td{
    padding: 20px 10px;
    
}
.left-margin{
    margin-left: 20px;
}
.top-margin{
    margin-top: 20px;
}