<!--<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <mat-card>
                <div class="container text-center top-margin">
                    <img src="../../../assets/reg.jpg" alt="" width="100" height="100">
                </div>
                <h1 class="text-center">Login Here</h1>
               
                <form (ngSubmit)="loginFormSubmit()" class="top-margin">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Username</mat-label>
                        <input 
                        [(ngModel)] = "loginData.username" name="username"
                        required
                        matInput placeholder="Username">
                      </mat-form-field>

                      <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Password</mat-label>
                        <input 
                        [(ngModel)] = "loginData.password" name="password"
                        required
                        name="password"
                        type="password" matInput placeholder="Password">
                      </mat-form-field>

                      <div class="container text-center">
                        <button type="submit" mat-flat-button color="primary">Login</button>
                        <button class="left-margin" mat-flat-button color="accent">Reset</button>
                      </div><br>
                      
                </form>
            </mat-card>
                </div>
        </div>
    </div>
</div>
-->

<div class="login-container">
    <div class="login-left">
      <mat-card>
      <div class="text-center top-margin">
      <h2>Login! 👋</h2>
      <p>How do I get started?</p>
      <button class="btn btn-google btn-width">Sign in with Google</button><br>
      <button class="btn btn-apple btn-width">Sign in with Apple</button>
      <p>or Login with Username</p>
    </div>
       <form (ngSubmit)="loginFormSubmit()" class="top-margin">
        
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Username</mat-label>
                        <input 
                        [(ngModel)] = "loginData.username" name="username"
                        required
                        matInput placeholder="Username">
                        
                      </mat-form-field>

                      <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Password</mat-label>
                        <input 
                        [(ngModel)] = "loginData.password" name="password"
                        required
                        name="password"
                        type="password" matInput placeholder="Password">
                      </mat-form-field>

                      <div class="container text-center">
                        <button type="submit" mat-flat-button color="primary">Login</button>
                        <button class="left-margin" mat-flat-button color="accent">Reset</button>
                        
                      </div><br>
                      
                </form></mat-card><br>
      <p>Don't have an account? <a [routerLink]="'/signup'">Sign Up Now</a></p>
    </div>
    <div class="login-right">
      <div class="login-info">
        <h3>Why should I login?</h3>
        <p>By logging in, you can access your personal dashboard, where you can manage your account, view your profile, and much more.</p>
        <img src="assets/login-page-img.jpg" alt="Dashboard example">
      </div>
    </div>
  </div>
