@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

.top-margin{
    margin-top: 20px;
}

.carousel-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    max-width: 600px;
    margin: auto;
  }
  
  .carousel {
    width: 100%;
    overflow: hidden;
  }
  
  .carousel img {
    width: 100%;
    height: auto;
    display: block;
  }
  
  button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  
  button:first-of-type {
    left: 10px;
  }
  
  button:last-of-type {
    right: 10px;
  }
