<mat-card>
    <mat-action-list>
        <div mat-subheader>Menu</div>
        <button mat-list-item [routerLink]="'/admin'">
            <mat-icon mat-list-icon class="padding-top">home</mat-icon>&nbsp;Home</button>
        <button mat-list-item  [routerLink]="'/admin/profile'">
            <mat-icon mat-list-icon class="padding-top">account_circle</mat-icon>&nbsp;Profile</button>
        <button mat-list-item  [routerLink]="'/admin/categories'">
            <mat-icon mat-list-icon class="padding-top">list</mat-icon>&nbsp;Categories</button>
        <button mat-list-item  [routerLink]="'/admin/add-category'">
                <mat-icon mat-list-icon class="padding-top">add_circle_outline</mat-icon>&nbsp;Add Categories</button>
        <button mat-list-item  [routerLink]="'/admin/quizzes'">
            <mat-icon mat-list-icon class="padding-top">quiz</mat-icon>&nbsp;Quizzes</button>
        <button mat-list-item  [routerLink]="'/admin/add-quiz'">
            <mat-icon mat-list-icon class="padding-top">add</mat-icon>&nbsp;Add Quiz</button>
        <button mat-list-item  [routerLink]="'/admin/profile'">
            <mat-icon mat-list-icon class="padding-top">logout</mat-icon>&nbsp;Logout</button>
    </mat-action-list>
</mat-card>