<mat-card>
    <mat-list>
        <div mat-subheader>All Categories</div>
        @for (c of categories; track c) {
            <mat-list-item>
              <mat-icon matListItemIcon>category</mat-icon>
              <div matListItemTitle>{{c.title}}</div>
              <div matListItemLine>{{c.description}}</div>
            </mat-list-item>
            <mat-divider></mat-divider>
          }
          
    </mat-list>
    <div class="container text-center" style="margin-top: 5px;margin-bottom: 10px;">
        <button [routerLink]="'/admin/add-category'" mat-fab extended color="accent">Add New Category</button>
      </div>
</mat-card>
